@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #1d1a3a;
    color: white;
}

.menu-logo a {
    text-decoration: none;
    font-size: 23px;
    color: white;
    font-weight: 300;
    letter-spacing: 10px;
}

.menu-navegacao ul {
    list-style-type: none;
}

.menu-navegacao li {
    display: inline-block;
    padding: 0 15px;
}

.menu-navegacao a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}